@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFF587, #FF8C64);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a3a1a8a9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF665A;
    text-align: center;
    text-shadow: 1px 1px 2px #A3A1A8;
}

h2 {
    color: #7D6B7D;
}

p {
    text-align: justify;
}